/* Body elements */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 16px "Comic Neue", sans-serif;
  background-color: #eee;
}

#content {
  margin: 10px;
}

/* Header */
h1, h2, h3, h4, h5, h6 {
  font-family: "Overlock", sans-serif;
}

h2 {
  margin: 20px 20px 0;
}

header {
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  margin: 20px 0 0;
}

header > nav > a {
  font-size: 24px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* border-radius: 5px; */
  padding: 5px;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
}

header > nav > a:hover { border-color: rgba(0, 0, 0, 0.3); }

/* Specific body */
a { color: seagreen; }

p {
  margin-left: 20px;
  width: 90%;
}

nav#step {
  margin-left: 20px;
}

.shown { display: block; }
.hidden { display: none; }

.viz-step {
  list-style-type: none;
}

.viz-step > li {
  font-size: 8px;
  width: 20px;
  text-align: center;
  background-color: royalblue;
  display: inline-block;
  margin: 5px;
  list-style-type: none;
}
