@import "http://openfontlibrary.org/face/fantasque-sans-mono";

/* Coolors Exported Palette - coolors.co/433a3f-3d5a6c-72a98f-8de969-cbef43 */
$color1: #433a3f; //rgba(67, 58, 63, 100)
$color2: #3d5a6c; //rgba(61, 90, 108, 100)
$color3: #72a98f; //rgba(114, 169, 143, 100)
$color4: #8de969; //rgba(141, 233, 105, 100)
$color5: #cbef43; //rgba(203, 239, 67, 100)
