{% macro render_field(field) %}
<p>
  <a class="hint" href="#" onclick="document.getElementById('alg-descript-{{ field.id }}').classList.toggle('hidden')">?</a>
  <span class="descript hidden" id="alg-descript-{{ field.id }}">
    {{ field.description|safe }}
  </span>
  {{ field.label(title=field.description) }}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
  {% for error in field.errors %}
    <span class="error">{{ error }}
  {% endfor %}
  {% endif %}
</p>
{% endmacro %}

{% macro render_alg(step, is_shown=False) %}
  <ul class="viz-step {{ 'show' if is_shown else 'hidden' }}">
  {% for item in step %}
    <li style="height: {{ item }}">{{ item }}
  {% endfor %}
  </ul>
{% endmacro %}
