{% extends "base.html" %}
{% block head %}
  <script async="async" src="static/step.js"></script>
{% endblock %}

{% block content %}
  <section id="text">
    {% if alg_text %}
      {{ alg_text|safe }}
    {% else %}
      {% include "text.html" %}
    {% endif %}
  </section>

  {% if form %}
    {% from "_helper.html" import render_field %}
    <section>
      <form action="" method="post" name="select">
        {{ form.hidden_tag() }}

        <fieldset>
          <legend><h2>Get Started</h2></legend>
          {{ render_field(form.alg) }}
          {{ render_field(form.source )}}
        </fieldset>

        <input type="submit" value="View" />
      </form>
    </section>
  {% endif %}

  {% if alg %}
    {% from "_helper.html" import render_alg %}
    <section id="viz">
      <h2>{{ alg.name }} Visualization</h2>
      <div>
        <nav id="step">
            <ul>
              <li id="prev-step" style="visibility: hidden;"><a onclick="step(-1)" href="#"></a></li>
                <li>
                <span id="current-step-no">1</span> /
                <span id="total-steps">{{ alg.steps|length }}</span>
                </li>
                <li id="next-step"><a onclick="step(1)" href="#"></a></li>
            </ul>
        </nav>
        <div id="viz-steps">
          {{ render_alg(alg.steps[0]) }}
          {% for step in alg.steps[1:] %}
            {{ render_alg(step, is_hidden=True) }}
          {% endfor %}
        </div>
      </div>
    <script async{% endif %}

{% endblock %}
