{% extends "base.html" %}
{% block content %}
<h1>Algorithm visualisation</h1>
<p>Pellentesque dapibus suscipit ligula. Donec posuere augue in quam. Etiam vel
tortor sodales tellus ultricies commodo. Suspendisse potenti. Aenean in sem ac
leo mollis blandit. Donec neque quam, dignissim in, mollis nec, sagittis eu,
wisi. Phasellus lacus. Etiam laoreet quam sed arcu. Phasellus at dui in ligula
mollis ultricies. Integer placerat tristique nisl. Praesent augue. Fusce
commodo. Vestibulum convallis, lorem a tempus semper, dui dui euismod elit,
vitae placerat urna tortor vitae lacus. Nullam libero mauris, consequat quis,
varius et, dictum id, arcu. Mauris mollis tincidunt felis. Aliquam feugiat
tellus ut neque. Nulla facilisis, risus a rhoncus fermentum, tellus tellus
lacinia purus, et dictum nunc justo sit amet elit.</p>

<h2>Get Started</h2>
<form action="" method="post" name="select">
  {{ form.hidden_tag() }}
  <p>Sort algorithm {{ form.alg }}</p>
  <p>Descending order? {{ form.is_descending }}</p>
  <p><input type="submit" value="View" /></p>
</form>
{% endblock %}
