<h2>What is it?</h2>
<p>A webapp to visualize a selected sorting algorithm. Select an algorithm, and the result after each step will be shown represented as coloured bars. You can see how the list changes after every step and navigate through the list, as well as skip to the sorted end by clicking the total number of steps.
<h3>How to use it</h3>
<p>Choose an algorithm from the form on the right, and a list to sort. If you don't choose a list, the default will be used <code>{{ default_list }}</code>. At the moment, you can <strong>only sort numbers</strong>. <strong>If you enter a really big (or a really small) number then your browser might have trouble rendering it.</strong>
<h3>How it works</h3>
<p>Once you select an algorithm, press 'View' and the server will attempt to sort the list and then display the result back to you. Note that this means the <strong>entire list is sorted before you see anything</strong>, meaning that if you choose an inefficient algorithm (like Bogosort), then <strong>the page might take a long time to load and displaying it might crash your browser.</strong>
